PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/travel_db

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=travel_db
PG_USER=postgres
PG_PASSWORD=postgres

SESSION_SECRET=xedich-secret-session-key-2026
JWT_SECRET=xedich_secret_jwt_key_2026
